.picture-info {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    bottom: 40vh;
}

.intro-content {
    font-size: 64px;
    color: white;
    text-align: left;
}

.pitch {
    font-size: 36px;
    color: white;
    text-align: left;
}

.info-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /*margin-left: 20px;*/
}

.location-but {
    background: linear-gradient(to right, #4846B4, #69B7FF);
    border-radius: 6px;
    color:white;
    font-size: 27px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .picture{
        padding:0px;
        height: 49vh;
        position: relative;
        left: -207px;
        overflow: hidden;
    }

    .pic-container{
        overflow: hidden;
    }

    .picture-info {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        bottom: 130px;
    }

    .pitch{
        display: none;
    }

    .pic-but-c{
        display:none;
    }

    .intro-content {
        font-size: 38px;
        color: white;
        text-align: left;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {background: blue;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {background: orange;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .picture {
        padding: 0px;
        /*min-height: 500px;*/
        width: 100%;
    }
    .example {background: pink;}
}