.navbar-options {
    border-radius: 18px;
    font-weight: bold;
}

.navbar-options:hover {
    background: #f0edf1;
}

.sign-in-option {
    background: linear-gradient(93.33deg, #70CCFF 7.02%, #69B7FF 97.42%);
    color: white;
}

.sign-in-option:hover {
    background: linear-gradient(93.33deg, #70CCFF 7.02%, #69B7FF 97.42%);
    color: white;
}

.navbar-st {
    margin: 0px;
    position: fixed;

}


/*delete this*/
li.but-group{
    background-color: transparent !important;
    margin-right: 40px;
}

.logo-con{
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.info-s{
    margin-top: 127px;
    margin-bottom: 127px;
}


.car-item{
    height: 300px;
}

/**
these last two classes define the color of the slide number indicators, if removed these indicators will turn white
you can thank the carousel library for making me use this hack
 */
.carousel-indicators li.active {
    background-color: #70CCFF !important;
}

.carousel-indicators li{
    background-color: #C4C4C4 !important;
}